In [4]:
import pandas as pd
import numpy as np


data = pd.read_csv('/content/AB_NYC_2019.csv')

##Calcular a média de todos os valores de aluguel da cidade
de Nova York.

In [5]:
preco_aluguel = data.loc[:, 'price']
np.mean(preco_aluguel)

152.7206871868289

##Contar todos os nomes distintos que aparecem na coluna região.

In [6]:
regiao = data.loc[:, 'neighbourhood_group']
pd.unique(regiao)

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

##Encontrar o valor máximo da coluna que contém os valores dos aluguéis

In [7]:
preco_aluguel = data.loc[:, 'price']
np.max(preco_aluguel)

10000